body{
    margin: 0;
    color: black;
}
#header{
    position: fixed;
    top: 0;
    box-shadow: 0 3px 9px -2px rgba(0,0,0,.05);
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    z-index: 99999999999999999999999;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
.profile{
    background: url("../images/header/profile.png")  no-repeat 50% 10%;
    background-size: 20%;
    width: 100px;
    height: 44px;
    font-size: 12px;
    position: relative;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
.profile > p{
    position: absolute;
    bottom: 4px;
    right: 15%;
    margin: 0;

}
.search{
    min-height: 44px;
    max-width: 929px;
    background: rgba(240,240,241,.85);
    height: 44px;
    border-radius: 8px;
    width: 58% !important;
    padding-right: 1rem;
    direction: rtl;
    position: relative;
    margin-right: 8px;
}
.search > input{
    width: 90%;
    height: 30px;
    padding: 1px 2px;
    background: rgba(240,240,241,.85);
    position: absolute;
    top: 10%;
    font-size: 16px;
    color: #707070;
}
.khadamat{
    width: 206px !important;
    height: 34px !important;
    padding: 5px 5px 5px 0;
    display: flex;
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin-right: .5rem;

}
.khadamat > p{
    padding: 5px 9px;
    margin: 0;
    font-size: 12px;
    font-weight: 700 !important;
    border-left: 1px solid #eaeaea;
    cursor: pointer;
}
.khadamat > .p3:hover , .khadamat > .p2:hover{
    color: blue;
}
.p1{
    width: 55px;
}
.khadamat > .p3{
    background: url("../images/header/windows.png") no-repeat 100% 40%;
    background-size:22%;
    width: 50px;
}
.headerlogo{
    background: url("../images/header/logo.png") no-repeat 50% 10%;
    background-size: 90%;
    width: 106px;
}